//import partial
@import "config";
@import "menu";

// Global Reset
* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#particles-body {
  background: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // height: 100vh;
  #particles-js {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../../assets/images/home_particles.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-sizing: border-box;
  }
}

body#about {
  background-image: linear-gradient(
      to right,
      rgba(72, 85, 99, 0.8),
      rgba(41, 50, 60, 0.8)
    ),
    url("../../assets/images/about_2.jpg");
  background-size: cover;
  background-position: cover;
  z-index: 2;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font: {
      size: 6rem;
    }
  }
  &.sm-heading {
    display: block;
    margin: {
      bottom: 2rem;
    }
    padding: 0.2rem 1rem;
    background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
  }
  &.lg-heading-particle {
    font-size: 7rem;
  }
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}
#opacity_main {
  margin-top: 25vh;
  // border: 1px solid red;
  position: absolute;
  padding: 4rem;
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      color: set-text-color($primary-color);
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  overflow: hidden;
}
// Main
main {
  padding: 4rem;
  // this is to make a footer sticky at the bottom(60px is the height of the footer)
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      color: set-text-color($primary-color);
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
// About Page
main#about {
  .about-info {
    display: grid;
    grid-template-areas:
      "bio-image bio bio"
      "project project project"
      "job1 job2 job3"
      "work-experience work-experience work-experience"
      "job4 job5 job6";
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    .bio-image {
      background-image: url("../../assets/images/my-pic.JPG");
      background-size: cover;
      background-position: center;
      height: 250px;
      width: 250px;
      transform: rotate(90deg);
      border: solid 3px $secondary-color;
      border-radius: 50%;
      margin: auto;
      grid-area: bio-image;
    }
    .bio {
      grid-area: bio;
      font-size: 1.5rem;
    }

    .project {
      grid-area: project;
    }

    .work-experience {
      grid-area: work-experience;
    }

    .job-1 {
      grid-area: job1;
      cursor: pointer;
      &-img {
        display: block;
        height: 17rem;
        width: 100%;
      }
      &-description {
        position: absolute;
        z-index: 10;
        height: 35rem;
        width: 25rem;
        left: 30.5%;
        top: 60%;
        background: #fefcfb;
        color: black;
        visibility: hidden;
        -webkit-clip-path: polygon(
          4% 50%,
          4% 0,
          100% 0,
          100% 100%,
          4% 100%,
          4% 55%,
          0 53%
        );
        clip-path: polygon(
          4% 50%,
          4% 0,
          100% 0,
          100% 100%,
          4% 100%,
          4% 55%,
          0 53%
        );
        padding: 2rem;
      }
      .inFocus {
        visibility: visible;
      }
      .inFocusStill {
        visibility: visible;
      }
    }
    .job-2 {
      grid-area: job2;
      cursor: pointer;
      &-description {
        position: absolute;
        z-index: 10;
        height: 35rem;
        width: 25rem;
        left: 61.8%;
        top: 60%;
        background: #fefcfb;
        color: black;
        visibility: hidden;
        -webkit-clip-path: polygon(
          4% 50%,
          4% 0,
          100% 0,
          100% 100%,
          4% 100%,
          4% 55%,
          0 53%
        );
        clip-path: polygon(
          4% 50%,
          4% 0,
          100% 0,
          100% 100%,
          4% 100%,
          4% 55%,
          0 53%
        );
        padding: 2rem;
      }
      .inFocus2 {
        visibility: visible;
      }
      .inFocusStill2 {
        visibility: visible;
      }
    }
    .job-3 {
      grid-area: job3;
      cursor: pointer;
      &-description {
        position: absolute;
        z-index: 10;
        height: 35rem;
        width: 25rem;
        left: 41.3%;
        top: 60%;
        background: #fefcfb;
        color: black;
        visibility: hidden;
        -webkit-clip-path: polygon(
          0 0,
          95% 0,
          95% 49%,
          100% 51%,
          95% 54%,
          95% 100%,
          0 100%
        );
        clip-path: polygon(
          0 0,
          95% 0,
          95% 49%,
          100% 51%,
          95% 54%,
          95% 100%,
          0 100%
        );
        padding: 2rem;
      }
      .inFocus3 {
        visibility: visible;
      }
      .inFocusStill3 {
        visibility: visible;
      }
    }
    .job-4 {
      grid-area: job4;
      cursor: pointer;
      &-description {
        position: absolute;
        z-index: 10;
        height: 35rem;
        width: 25rem;
        left: 30.5%;
        top: 111%;
        background: #fefcfb;
        color: black;
        visibility: hidden;
        -webkit-clip-path: polygon(
          4% 50%,
          4% 0,
          100% 0,
          100% 100%,
          4% 100%,
          4% 55%,
          0 53%
        );
        clip-path: polygon(
          4% 50%,
          4% 0,
          100% 0,
          100% 100%,
          4% 100%,
          4% 55%,
          0 53%
        );
        padding: 2rem;
      }
      .inFocus4 {
        visibility: visible;
      }
      .inFocusStill4 {
        visibility: visible;
      }
    }
    .job-5 {
      grid-area: job5;
      cursor: pointer;
      &-description {
        position: absolute;
        z-index: 10;
        height: 35rem;
        width: 25rem;
        left: 61.8%;
        top: 111%;
        background: #fefcfb;
        color: black;
        visibility: hidden;
        -webkit-clip-path: polygon(
          4% 50%,
          4% 0,
          100% 0,
          100% 100%,
          4% 100%,
          4% 55%,
          0 53%
        );
        clip-path: polygon(
          4% 50%,
          4% 0,
          100% 0,
          100% 100%,
          4% 100%,
          4% 55%,
          0 53%
        );
        padding: 2rem;
      }
      .inFocus5 {
        visibility: visible;
      }
      .inFocusStill5 {
        visibility: visible;
      }
    }
    .job-6 {
      grid-area: job6;
      cursor: pointer;
      &-description {
        position: absolute;
        z-index: 10;
        height: 35rem;
        width: 25rem;
        left: 41.3%;
        top: 111%;
        background: #fefcfb;
        color: black;
        visibility: hidden;
        -webkit-clip-path: polygon(
          0 0,
          95% 0,
          95% 49%,
          100% 51%,
          95% 54%,
          95% 100%,
          0 100%
        );
        clip-path: polygon(
          0 0,
          95% 0,
          95% 49%,
          100% 51%,
          95% 54%,
          95% 100%,
          0 100%
        );
        padding: 2rem;
      }
      .inFocus6 {
        visibility: visible;
      }
      .inFocusStill6 {
        visibility: visible;
      }
    }
    .job {
      border-bottom: $secondary-color 5px solid;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      max-width: 90%;
      &:hover {
        box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2);
      }
      &-content {
        background: #fefcfb;
        color: #444;
        padding: 0.5rem;
        opacity: 1;
        min-height: 29%;
        max-height: 100%;
        margin: auto 0;
      }
      h3 {
        font-size: 2rem;
        text-align: center;
        font-weight: 500;
      }
    }
  }
}
// Work Page
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
  img {
    width: 100%;
    border: 3px solid #fff;
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
  .item-description {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    margin-bottom: 0.5rem;
    display: none;
  }
  .item-description_b {
    display: none;
  }
  .item-description_c {
    display: none;
  }
  .item-description_d {
    display: none;
  }
  .item-description_e {
    display: none;
  }
  .btn {
    display: block;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;
  }
}
// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  div {
    font-size: 2rem;
    border: 3px solid #fff;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;
    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}
// Work Page -Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}
.btn-dark {
  @extend .btn;
  background: darken($color: $primary-color, $amount: 50);
  color: #fff;
}
.btn-light {
  @extend .btn;
  background: lighten($color: $primary-color, $amount: 50);
  color: #444;
}
// Footer
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}
// This is here because I want the media queries to run after the main css
@import "mobile";
